[Unit]
Description=Statehub-razor zfs service
After=network.target

[Service]
ExecStart=/usr/bin/razor-rpc-server
Type=simple
Restart=always

[Install]
WantedBy=default.target
